[Unit]
Description=mmega uWSGI systemd service.

[Service]
User=kass
WorkingDirectory=/home/kass/workspaces/mmega_app/mmega_app
ExecStart=/home/kass/workspaces/mmega_app/mmega_app/venv/bin/uwsgi --ini /home/kass/workspaces/mmega_app/mmega_app/uwsgi.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
