[Unit]
Description=mmega systemd service.

[Service]
Type=simple
EnvironmentFile=
WorkingDirectory=
User=
ExecStart=

[Install]
WantedBy=multi-user.target
