/* parts */
header,footer{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 10px;
}


@media screen and (min-width: 400px) {
    body { background-image: url(/static/img/background_medium.jpg);}
}

@media screen and (max-width: 399px) {
    body { background-image: url(/static/img/background_small.jpg);}
}

body{
    /*background-image: url(/static/img/background_medium.jpg;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
    margin: 0px;
}


/* components */
h1{
    color:black;
    text-align: center;
}
div{
    /*
    width: 200px;
    height: 100px;
    padding: 30px;
    text-align: center;
    border-radius: 40px;
    */
}

ul{
	list-style-type: none;"
}



/* log classes */
.success{
    /* text*/
    color: #4e9a06;
    font-size: 14px;
}


.info{
    /* text*/
    color: #204a87;
    font-size: 14px;
}

.warning{
    /* text*/
    color: #ce5c00;
    font-size: 14px;
}

.error{
    /* text*/
    color: #a40000;
    font-size: 14px;
}


/* classes */
.main{
 /* behavior */ 
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

.column {
    float: left;
    width: 30%;
    overflow: auto;
}

@media screen and (min-width: 400px) {
    .column2 {
	   float: left;
	   width: 70%;
	   text-overflow: ellipsis;
	   white-space: nowrap;
	   display: inline-block;
	   overflow: hidden;
    }

    .column2:hover {
        overflow: auto;
    }
}

@media screen and (max-width: 399px) {
    .column2 {
	    float: left;
	    width: 70%;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    display: inline-block;
	    overflow: auto;
    }
}

.field{
    display: flex;
    justify-content: space-between;
}

.basic_box {
    /* box */
	background-color: rgba(60, 60, 60, 0.60);
    margin: 2px;
    padding: 2px 10px;
    border-radius: 20px;
    box-shadow:
        0px 10px 10px 0px rgba(0, 0, 0, 0.5),
        0px 2x 2px 0px rgba(255, 255, 255, 0.5) inset;
    /* text */
    color: white;
}

.form_box_simple {
	/* responsive 
    /*clear: both; */
    /* display: block; */
    
    /* box */
    min-width: 200px;
    max-width: 600px ;
    background-color: rgba(60, 60, 60, 0.60);
    margin: 2px;
    padding: 2px 10px;
    border-radius: 20px;
    box-shadow:
        0px 10px 10px 0px rgba(0, 0, 0, 0.5),
        0px 2x 2px 0px rgba(255, 255, 255, 0.5) inset;
    
    /* text */
    color: white;
}


.form_box {
    /* responsive */
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between flex-start;
    
    /* box */
    align-self: auto;
    min-width: 200px;
    max-width: 600px ;
    background-color: rgba(60, 60, 60, 0.60);
    margin: 2px;
    padding: 2px 10px;
    border-radius: 20px;
    box-shadow:
        0px 10px 10px 0px rgba(0, 0, 0, 0.5),
        0px 2x 2px 0px rgba(255, 255, 255, 0.5) inset;
    
    /* text */
    color: white;
    /*text-align: center;*/
}

.form_box_sub{
    margin-left: auto;
}

.global_bar_box {
    /* responsive */
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between flex-start;
    
    /* box */
    background-color: rgba(60, 60, 60, 0.60);
    margin: 2px;
    padding: 2px 10px;
    width: 100% ;
    border-radius: 20px;
    box-shadow:
        0px 10px 10px 0px rgba(0, 0, 0, 0.5),
        0px 2x 2px 0px rgba(255, 255, 255, 0.5) inset;
    
    /* text */
    color: white;
    /*text-align: center;*/
}

.global_bar_sub{
    margin-left: auto;
}

.global_stats_box {
    /* behavior */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* box */
    background-color: rgba(60, 60, 60, 0.60);
    margin: 2px;
    padding: 8px 24px;
    width: 100% ;
    border-radius: 20px;
    box-shadow:
        0px 10px 10px 0px rgba(0, 0, 0, 0.5),
        0px 2x 2px 0px rgba(255, 255, 255, 0.5) inset;
    
    /* text */
    color: white;
    font-size: ;
    /*text-align: center;*/
}

.global_stats_box_sub {
 /* responsive
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 2px;
    padding: 2px 10px;
    width: 100% ;
    
    */
}

.account_box{
    /* box */
    margin: 2px;
    padding: 2px;
    
    align-self: left;
    min-width: 170px;
    max-width: 755px ;
}

.boxes_skin{
    /* beheavior */
    flex-grow: 1;
    
    /* box 
    /* background: rgb(211, 27, 0); */
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1px; 
    border-radius: 20px; 
    padding: 10px;
    
    /* text */
    color: white;
    overflow: auto;
}

.name_box{
   /* beheavior */    
    clear: both;
    
    /* box */
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: ;
    border-radius: 20px;
    box-shadow:
        0px 10px 10px 0px rgba(0, 0, 0, 0.5),
        0px 2x 2px 0px rgba(255, 255, 255, 0.5) inset;
    
    /* text */
    color: white;
    overflow: auto;
}

.data_box{
    /* behavior */ 
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    
    /* box */
    width: ;
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.config_box{
    /* box */
    /*background: #d31b00;*/
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1px; 
    border-radius: 20px; 
    padding: 10px;
    flex-grow: 1;
    
    /* text */
    color: white;
    font-size: ;
    width: 50%;    
}

.diskfile_box{
    /* behavior */
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    flex-direction: row; 
    overflow: auto;
    flex-grow: 1;

    /* box */
    width: ;
}


.button_box{
    /* responsive */
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between flex-start;
    
    /* box */
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    
    width: 100%;
    border-radius: 20px;
    box-shadow:
        0px 10px 10px 0px rgba(0, 0, 0, 0.5),
        0px 2x 2px 0px rgba(255, 255, 255, 0.5) inset;
    
    /* text */
    color: white;
    /*text-align: center;*/}

.button_box_sub{
    margin-left: auto;
}


.custom_button {
    /* responsive */
    
    /* box */
    background-color: #d31b00;
    margin: 4px;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    
    /* text*/
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: ;
}

.custom_button:hover {
    /* responsive */
    
    /* box */
    background-color: #000000;
    margin-left: 4px;
    margin-left: 4px;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    
    /* text*/
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: ;
}



/* ids */

/* images format
img{
    transition: all 0.5s ease;
    border-style: solid;
    border-color: white;
}

img:hover{
    transform: scale(0.9);
    border-radius: 30px;
}
*/

.main img{
    width: 49%;
    float: left;
}
