{% extends 'base.html' %}

{% block automation %}

<form action="" method="post">
    <div class="form_box">
        {{ form.hidden_tag() }}

        <p>{{ form.cron_options.label }}:</p>{{ form.cron_options}}
        <div class="form_box_sub" style="margin-top: auto;">
            <input class="custom_button" type='submit' value='Set'>
        </div>
    </div>
</form>

<div class="form_box" style="padding: 16px;">
    Already installed job for {{ current_user.user_name }}:
    {% for item in inst_job %}
        <p style="font-size:12px;"> {{ item }}</p>
    {% endfor %}
</div>

{% endblock %}
