{% extends 'base.html' %}

{% block copy %}

<!-- copy file form -->
<form action="" method="post">
    <!-- form secret key -->
    {{ copy_form.hidden_tag() }}

    <div class="form_box" style="max-width: 500px;">
       <div style="margin-left: 4px; margin-top: 4px; max-width: 100%;">
            <p style="margin-bottom: 0px; max-width: 480px; text-overflow: ellipsis; overflow: auto;">{{ copy_form.file_to_move.label }}<br> {{ copy_form.file_to_move(readonly=true, size=44) }}</p>
            <div>
                {{ copy_form.move_check }} {{ copy_form.move_check.label }}
                <span style="color:rgb(139,0,0); font-size: 12px;">(origin file will be deleted)</span>
            </div>
            <p>{{ copy_form.acc_dst.label }} &#160;&#160; {{ copy_form.acc_dst }}</p>
            <p>{{ copy_form.remote_dir_dst.label }}<br>{{ copy_form.remote_dir_dst(size=20) }}</p>
        </div>
        <div class="form_box_sub">
           <input class="custom_button" type='submit' value='Copy / Move' style="float: right;">
        </div>
    </div>
</form>

{% endblock %} 
