{% extends 'base.html' %}

{% block delete_form %}

<!-- delete form -->
<form action="" method="post">
    <!-- form secret key -->
    {{ delete_account_form.hidden_tag() }}

    <div class="form_box" style="max-width: 500px;">
        <div>
            <p>{{ delete_account_form.name.label }}<br>{{ delete_account_form.name(size=20, readonly=true)  }}</p>
            <p>{{ delete_account_form.local_dir.label }}<br>{{ delete_account_form.local_dir(size=20, readonly=true) }}</p>
            <p>{{ delete_account_form.remote_dir.label }}<br>{{ delete_account_form.remote_dir(size=20, readonly=true) }}</p>
        </div>
        <div class="form_box_sub">
            <p>{{ delete_account_form.email.label }}<br>{{  delete_account_form.email(size=20, readonly=true) }}</p>
            <p>{{ delete_account_form.passwd.label }}<br>{{  delete_account_form.passwd(size=20) }}</p>
            <p style="margin-top: 32px; padding-top: 10px; padding-left: 12px; color:rgb(139,0,0); font-size: 12px;">
                All tables will be deleted!!
            </p>
        </div>
        <div class="form_box_sub">
            <input class="custom_button" type='submit' value='Delete' style="float: right;" >
        </div>
    </div>
</form>


{% endblock %} 
