{% extends 'base.html' %}

{% block login_form %}

<!-- login form -->
<form action="" method="post">
    <!-- form secret key -->
    {{ login_form.hidden_tag() }}

    <div class="form_box" style="max-width: 270px;">
        <div style="padding-top: 4px; padding-left: 10px;">
	        <p>{{ login_form.username.label }}<br>{{ login_form.username(size=20) }}</p>
	        <p>{{ login_form.password.label }}<br>{{ login_form.password(size=20) }}</p>
        </div>
        <div style="padding-left: 10px;">
            {{ login_form.remember_me }} 
            {{ login_form.remember_me.label }} 
        </div>
        <div class="form_box_sub" style="padding-bottom: 10px; padding-right: 10px;">
            <input class="custom_button" type='submit' value='Sign In' style="float: right;" >
        </div>
    </div>
</form>

<form action="" method="post">
	<div class="form_box" style="max-width: 270px;">
	    <a href='/register' style="text-decoration: none; margin-left: auto;">
	        <input class="custom_button" type='button' value='Register'>
	    </a>
	</div>
</form>


{% endblock %} 
