{% extends 'base.html' %}

{% block register_form %}

<!-- login form -->
<form action="" method="post">
    <!-- form secret key -->
    {{ register_form.hidden_tag() }}

    <div class="form_box" style="max-width: 270px;">
        <div style="padding-top: 4px; padding-left: 10px;">
            <p>{{ register_form.username.label }}<br>{{ register_form.username(size=20) }}</p>
            <p>{{ register_form.email.label }}<br>{{ register_form.email(size=20) }}</p>
            <p>{{ register_form.password.label }}<br>{{ register_form.password(size=20) }}</p>
            <p>{{ register_form.password2.label }}<br>{{ register_form.password2(size=20) }}</p>
        </div>
        <div>&#160; &#160; &#160;</div>
        <div class="form_box_sub" style="padding-bottom: 10px; padding-right: 10px;">
            <input class="custom_button" type='submit' value='Register' style="float: right; float: bottom;" >
        </div>
    </div>

{% endblock %} 
