{% extends 'base.html' %}

{% block streaming %}

<!-- Tool bar -->
<div class="global_bar_box" style="padding: 0px;">
    <div style="margin-top: 8px; margin-left: auto;">account X</div>
    <div style="padding: 0px 16px; padding-top: 10px; margin-left: auto;">
        streamed files  
    </div>
</div>

<form action="" method="post">
    <!-- form secret key -->
    {{ webdav_form.hidden_tag() }}

    <div class="form_box" style="max-width: 100%;">
    <div>
        {% for served_file in served_files %}
            <p> File = {{ served_file[0] }}  Link = {{ served_file[1] }} </p>
        {% endfor %}
    </div>
        <div class="form_box_sub">
            <input class="custom_button" type='submit' value='Unset' style="float: right;">
        </div>
    </div>
</form>

{% endblock %}